openapi: 3.0.2
info:
  version: '0.1'

  title: Open DeFi API

  contact:
    email: mikko@tradingstrategy.ai
    url: 'https://tradingstrategy.ai'
  x-logo:
    url: 'https://raw.githubusercontent.com/tradingstrategy-ai/frontend/master/src/lib/assets/logo-horizontal-light.svg'

  description: |

    Open DeFi API gives you access to decentralised exchange trading data, liquidity and tokens across multiple blockchains.
    For more information see [Trading Strategy](https://tradingstrategy.ai/) website.

    **This API is still in beta and subject to change**.

    ## Introduction

    This API offres to access to so-called on-chain trading activity. You can fetch live and historical
    trading data across different decentralised exchanges (DEXes)

    ## Use cases

    This data is useful e.g. for

    * Trading algorithms and bots

    * Market data websites

    * On-chain oracle data feeds

    * Blockchain research

    * Risk analysis

    ## Data availability

    Visit [Trading Strategy website](https://tradingstrategy.ai/trading-view) to explore available data.
    You can find supported blockchains and exchanges. Price candle chart is available for all trading pairs.
    Ultimately all blockchains will be supported, depending on the implementation order.

    ## Live and historical market data

    This API provides live data. However, these API endpoints have not been designed for large data ignestion.
    For backtesting trading strategies, [download the historical datasets from Trading Strategy website](https://tradingstrategy.ai/trading-view/backtesting).

    ## Data types

    You can find

    * Decentralised exchanges

    * Trading pairs

    * OHLCV price data for candle charts

    * OHLC liquidty data for liquidity maps

    # Supported blockchains

    Examples of supported blockchains:

    * Ethereum mainnet

    * Binance Smart Chain

    * Polygon

    ## Supported exchanges

    Examples of supported exchanges:

    * Uniswap

    * SushiSwap

    * PancakeSwap

    * QuickSwap

    ## About OpenAPI Specification used

    This API specification is written in [OpenAPI v3](https://swagger.io/specification/).


externalDocs:
  description: Trading Strategy documentation
  url: 'https://tradingstrategy.ai/docs/'

# A list of tags used by the definition with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: Blockchain
    description: Data about supported blockchains
  - name: Exchange
    description: Data about decentralised exchanges
  - name: Token
    description: Data about tokens living on blockchains
  - name: Trading pair
    description: Data about trading pair
  - name: Trading signal
    description: Data about trading signals

servers:
  - url: 'https://tradingstrategy.ai/api/'
  - url: 'http://localhost:3456/api/'

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL.
paths:

  '/chains':
    x-pyramid-route-name: web_chains
    get:
      operationId: web_chains
      summary: Return information on supported blockchains
      tags:
        - Blockchain
      responses: # list of responses
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: List of chain summmaries
                type: array
                items:
                  $ref: '#/components/schemas/ChainSummary'
        '404':
          description: chain not found
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/chain-details':
    x-pyramid-route-name: web_chain_details
    get:
      operationId: web_chain_details
      summary: Return information on a blockchain status
      tags:
        - Blockchain
      parameters:
        - name: chain_slug
          in: query
          description: |
            Blockchain slug, e.g, `ethereum` for Ethereum mainnet
          required: true
          schema:
            type: string
          example: ethereum

      responses: # list of responses
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainDetails"
        '404':
          description: chain not found
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/health-check':
    x-pyramid-route-name: web_chain_health_check
    get:
      operationId: web_chain_health_check
      summary: |
        The blockchain data health check.
        
        Returns various diagnostics informtion on the chain indexing status.
        
        This is a slow endpoint and may take minutes to respond.
        It is only intended to be used in monitoring.
      tags:
        - Blockchain
      parameters:
        - name: chain_slug
          in: query
          description: |
            Blockchain slug, e.g, `ethereum` for Ethereum mainnet
          required: true
          schema:
            type: string
          example: ethereum

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                  type: object
        '404':
          description: chain not found
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/exchanges':
    x-pyramid-route-name: web_exchanges
    get:
      operationId: web_exchanges
      summary: |

        List of available decentralised exchanges

        TODO: Currently pagination is not supported, but the result set should be fairly small (<2000)

      tags:
        - Exchange
      parameters:
        - name: chain_slug
          in: query
          description: |
            Blockchain slug, e.g, `ethereum` for Ethereum mainnet.

            If present, list exchanges only for this chain.
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: |

            What kind of sort options is available for the output.

            The default `usd_volume_30d` sorts the exchanges based on their monthly volume.

          required: false
          schema:
            type: string
            default: usd_volume_30d
            enum: [usd_volume_30d, pair_count]
        - name: direction
          in: query
          description: |
            Sort order:
             * `asc` - Ascending, from A to Z
             * `desc` - Descending, from Z to A
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: filter_zero_volume
          in: query
          description: |
            When set, do not return exchanegs which have had no volume for last 30 days.

            This will speed up the response a bit, as most exchanges are ghost exchanges.
          required: false
          schema:
            type: boolean
            default: false

      responses: # list of responses
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeSummaryListing"

  '/exchange-details':
    x-pyramid-route-name: web_exchange_details
    get:
      operationId: web_exchange_details
      summary: Get data for one exchange to render the exchange page
      parameters:
        - name: exchange_slug
          in: query
          description: |
            Exchange path slug e.g, `sushiswap`
          required: true
          schema:
            type: string
        - name: chain_slug
          in: query
          description: Blockchain slug, e.g, "ethereum"
          required: true
          schema:
            type: string
      tags:
        - Exchange
      responses: # list of responses
        '200':
          description: OK
          content:
            application/json: # operation response mime type
              schema: # response schema can be specified for each response
                $ref: '#/components/schemas/ExchangeDetails'
        '404':
          description: Exchange not found - either chain or exchange slug does not match
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/pair-details':
    x-pyramid-route-name: web_pair_details
    get:
      operationId: web_pair_details
      summary: |
        Additional information for a trading pair
      parameters:
        - name: exchange_slug
          in: query
          description: |
            Exchange path slug e.g, `sushiswap`
          required: true
          schema:
            type: string
          example: sushiswap
        - name: chain_slug
          in: query
          description: Blockchain slug, e.g, "ethereum"
          required: true
          schema:
            type: string
          example: ethereum
        - name: pair_slug
          in: query
          description: |

            Trading pair friendly presentation (token0 symbol - token1 symbol) or pair pool contract address.

            Symbols can be in any order: base token - quote token or quote token - base token.

            If multiple trading pairs match the same symbol the one with the highest volume is returned
            (assuming other trading pairs are ones with a fake token).

            Examples of accepted `pair_slugs`:
            - `ETH-USDC`
            - `eth-usdc`
            - `WETH-USDC`
            - `USDC-WETH`
            - `0xB4e16d0168e52d35CaCD2c6185b44281Ec28C9Dc`

            The response is a composite of pair summary information, additional trading volume numbers and related links.

          required: true
          schema:
            type: string
          example: ETH-USDC

      tags:
        - Trading pair
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairFullInfo'
        '404':
          description: Pair not found
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/pair-trade-data':
    x-pyramid-route-name: web_pair_trade_data
    get:
      operationId: web_pair_trade_data
      summary: |
        Key performance metrics of a trading pair for a given time window
      parameters:
        - name: pair_id
          in: query
          description: |

            Pair id as received in `/pairs` or `/pair-details`

            As the endpoint /pair-details is preferred, this endpoint only gives direct pair_id access for now.

          required: true
          schema:
            type: integer
          example: 1
        - name: period
          in: query
          description: |

            The time perid for the stats.

            Currently only latest stats are supported.

          required: true
          schema:
            type: string
            enum: [hourly, daily, weekly, monthly]
          example: hourly

      tags:
        - Trading pair
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSpanTradeData'
        '404':
          description: Pair not found or time bucket not suppoted
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/pairs':
    x-pyramid-route-name: web_pairs
    get:
      operationId: web_pairs
      summary: Query and filter trading pairs
      description: |

        Query different combinations of the trading pairs.

        The most common query is all trading pairs of a decentralised exchange.

        `/pairs?chain_slugs=ethereum&exchange-slugs=uniswap-v2`

        - Can return paginated JSON results for the frontend.
        
        - Can return Microsoft XLSX export of the data. In this case, always get the first 3000 entries.  

        ## Parameter seralisation

        Note that lists are not JSON serialised, but use [OpenAPI query parameter serialization](https://swagger.io/docs/specification/serialization/). I.e. lists are comma separated, no spaces between items.

      parameters:
        - name: exchange_slugs
          in: query
          description: Slugs for DEXes to look up
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            uniqueItems: true
          example:
            - uniswap-v2
        - name: chain_slugs
          in: query
          description: Slugs for blockchain to look up
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            uniqueItems: true
          example:
            - ethereum
        - name: token_addresses
          in: query
          style: form
          explode: true
          description: |
            For querying trading pairs for a specific token.

            For example, to get BUSD trading pairs on BNB chain,
            use the token address `0xe9e7cea3dedca5984780bafc599bd69add087d56`.
            This will give you all BUSD trading pairs.

            Multiple token addresses can be passed using OpenAPI form style array.

            For a specific token, the query must also include `chain_slugs` condition, as
            any a token may share the same address across multiple chains.

            Some tokens and their trading pairs exist in the database,
            but `trading pairs do not fulfill the tracking threshold <https://tradingstrategy.ai/docs/programming/tracking.html>`_.
            If you query a single such token address you will get an error, as a developer friendliness
            features. These are often "spam tokens". Example:

            ```shell
            curl "https://tradingstrategy.ai/api/pairs?token_addresses=0xccf31fd34a364a21ad32ad91b09f5071f7200a3d"
            ```

          required: false
          schema:
            type: array
            items:
              type: string
              format: address
        - name: page
          in: query
          description: Page number, zero-indexed
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 1000
        - name: page_size
          in: query
          description: Limit number of pairs returned (default is 20)
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 1000
        - name: sort
          in: query
          description: |

            What kind of sort options is available for the list

            The default `pair_id` sorting makes only sense for machine-to-machine actions.
            The recommended sort method is by descending volume (most interesting trading pairs first).

          required: false
          schema:
            type: string
            default: pair_id
            minimum: 1
            maximum: 100
            enum: [pair_id, volume, volume_30d, price_change_24h, liquidity, liquidity_change_abs_24h, liquidity_change_relative_24h]
        - name: direction
          in: query
          description: |
            Sort order:
             * `asc` - Ascending, from A to Z
             * `desc` - Descending, from Z to A
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: filter
          in: query
          description: |
            Filter the results based on liquidity.
            
            This allows exclude noisy micro cap trading pairs.
            
             * `unfiltered` - Returns everything within [the tracking rules](https://tradingstrategy.ai/docs/programming/tracking.html).
             * `min_liquidity_100k` - pairs with the current liquidity $100k  
             * `min_liquidity_1M` - pairs with the current liquidity $1M
          required: false
          schema:
            type: string
            enum: [unfiltered, min_liquidity_100k, min_liquidity_1M]
            default: min_liquidity_1M
        - name: filter_junk
          in: query
          description: |
             Get rid of token symbol duplicates.
            
             If there are multiple token pairs with matching symbols in the result,
             choose one with the highest volume and hide the others.
          required: false
          schema:
            type: boolean
            default: true
        - name: format
          in: query
          description: |
            Output format of the data.
            
             * `json` - return JSON data to be rendered in web frontend.  
             * `excel` - always limited to top 3000 results. Returns a downloadable file.
          required: false
          schema:
            type: string
            enum: [json, excel]
            default: json
      tags:
        - Trading pair
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPairSummary'
        "422":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/candles':
    x-pyramid-route-name: web_candles
    get:
      operationId: web_candles
      summary: Get the candle stick chart data for one trading pair
      description: |

        Fetch candle data for a single trading pair.

        You need to resolve the symbolic trading pair name to `pair_id` primary key with `/pairs` or `/pair-details`
        to call this API endpoint.

        Candle response size is limited to 10,000 candles. Only the first 10,000 candles
        since the start timestamp is returned.

        [Inspired by Bitfinex API](https://docs.bitfinex.com/reference#rest-public-candles).

      parameters:
        - name: pair_id
          in: query
          description: |

            Primary key for the trading pair

            [You can grab any trading pair from Trading Strategy website](https://tradingstrategy.ai/trading-view/trading-pairs).
            The primary key is displayed in as internal id.

          required: true
          schema:
            type: integer
            minimum: 1
          example:
        - name: time_bucket
          in: query
          description: >

              What time bucket to use for the candle size.

          required: true
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d, 7d, 30d]
          example: 1h
        - name: start
          in: query
          description: |

              When the candle fetch period starts.

              Use UNIX UTC timestamp, as ISO 8601 formatted string.
              [Read more information about the time format](https://docs.python.org/3/library/datetime.html#datetime.datetime.fromisoformat).

              If not specific this will be resolved to now() - time_bucket * 100, or getting the last 100 candles.

              This range parameter is inclusive.

          required: false
          schema:
            type: string
            format: iso8601
          example: 2022-01-01
        - name: end
          in: query
          description: |

              When the candle fetch period ends.

              Use UNIX UTC timestamp, as ISO 8601 formatted string.

              If not specific this will be resolved to now().

              This range parameter is inclusive.

          required: false
          schema:
            type: string
            format: iso8601
            minimum: 0
          example: 2022-01-02

      tags:
        - Trading pair
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleList'
        "422":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/candles-jsonl':
    x-pyramid-route-name: web_candles_jsonl
    get:
      operationId: web_candles_jsonl
      summary:

        Get the candle data for multiple trading pairs in JSONL format.

      description: |
        This is preferred method for getting OHLCV candles if you need
        them only for few pairs. There is no limit on amount of data that can be fetched
        using this method.
      
        The response is [UTF-8 encoded JSON Lines](https://jsonlines.org/) streamed binary response.
        The size of the response cannot be known ahead of time.
        
        Candles are returned from the earliest to the latest.      
        If no start time is given, start from the genesis.
        
        **TODO**: Specify the actual per-line JSON format in OpenAPI schema.

      tags:
        - Trading pair
      responses:
        "200":
          description: OK
          content:
            application/jsonl+json:
              schema:
                # https://stackoverflow.com/a/53339910/315168
                type: string
                format: binary

  '/xyliquidity':
    x-pyramid-route-name: web_xyliquidity
    get:
      operationId: web_xyliquidity
      summary: Get the XY liquidity chart data for one pair
      description: |

        Fetch [XYLiquidity](https://tradingstrategy.ai/docs/programming/api/liquidity.html) data for a single trading pair.

        You need to resolve the symbolic trading pair name to `pair_id` primary key with `/pairs` or `/pair-details`
        to call this API endpoint.

        Liquidity sample response size is limited to 10,000 candles. Only the first 10,000 candles
        since the start timestamp is returned.

      parameters:
        - name: pair_id
          in: query
          description: |

            Primary key for the trading pair.

            [You can grab any trading pair from Trading Strategy website](https://tradingstrategy.ai/trading-view/trading-pairs).
            The primary key is displayed in as internal id.

          required: true
          schema:
            type: integer
            minimum: 1
        - name: time_bucket
          in: query
          description: >

              What time bucket to use for the candle size.

          required: true
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d, 7d, 30d]
          example: 1h
        - name: start
          in: query
          description: |

              When the candle fetch period starts.

              Use UNIX UTC timestamp, as ISO 8601 formatted string.
              [Read more information about the time format](https://docs.python.org/3/library/datetime.html#datetime.datetime.fromisoformat).

              If not specific this will be resolved to now() - time_bucket * 100, or getting the last 100 candles.

              This range parameter is inclusive.

          required: false
          schema:
            type: string
            format: iso8601
          example: 2022-01-01
        - name: end
          in: query
          description: |

              When the candle fetch period ends.

              Use UNIX UTC timestamp, as ISO 8601 formatted string.

              If not specific this will be resolved to now().

              This range parameter is inclusive.

          required: false
          schema:
            type: string
            format: iso8601
            minimum: 0
          example: 2022-01-02

      tags:
        - Trading pair
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XYLiquiditySampleList'
        "422":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/tokens':
    x-pyramid-route-name: web_tokens
    get:
      operationId: web_tokens
      summary: Information about supported tokens.
      tags:
        - Token
      parameters:
        - name: chain_slug
          in: query
          description: Blockchain slug.
          required: false
          schema:
            type: string
          example: "ethereum"
        - name: exchange_slug
          in: query
          description: |
             Exchange slug or exchange address. Providing this parameter requires
             providing `chain_slug` as well.

             Currently only Uniswap-like exchanges are supported.
          required: false
          schema:
            type: string
          examples:
            "exchange slug":
              value: "sushiswap"
            "exchange address":
              value: "0xBF85FDCE9E4FA7D5A0177559150B15BF7F1BFD93"
        - name: token_symbol
          in: query
          description: |
            Token symbol. Can be the either token in a trading pair, i.e. a base token
            or a quote token symbol.
          required: false
          schema:
            type: string
          example: "WETH"
        - name: token_name
          in: query
          description: |
            Full name of the token
          required: false
          schema:
            type: string
          example: "Basic Attention Token"
        - name: page
          in: query
          description: Page number, zero-indexed
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 1000
        - name: page_size
          in: query
          description: Limit the number of tokens returned in each page.
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 1000
        - name: sort
          in: query
          description: |

            Which token property should be used to sort the search results.

            The default sorting by `token_id` only makes sense for machine-to-machine
            actions. The recommended sort method is to sort by descending volume (i.e.
            most interesting tokens first).

            > **NOTE:** If sort property is specified, tokens that have that property
            > set to NULL are excluded from the results.

          required: false
          schema:
            type: string
            enum: [
              token_id, volume_24h, liquidity_latest, liquidity_change_7d,
              liquidity_change_30d, liquidity_change_360d, liquidity_all_time_high,
              liquidity_all_time_low
            ]
            default: token_id
        - name: direction
          in: query
          description: |
            Sort order:
             * `asc` - Ascending, from A to Z.
             * `desc` - Descending, from Z to A.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: List of token summmaries.
                type: array
                items:
                  $ref: '#/components/schemas/PaginatedTokenOnChainInfo'
        '404':
          description: No tokens found.
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/token/details':
    x-pyramid-route-name: web_token_details
    get:
      operationId: web_token_details
      summary: |
        Information about a token living on a blockchain.
      parameters:
        - name: chain_slug
          in: query
          description: Blockchain slug, e.g, "ethereum"
          required: true
          schema:
            type: string
          example: ethereum
        - name: address
          in: query
          description: |
             The address location of the actual token contract that manages the logic
             for the tokens.
          required: true
          schema:
            type: string
          example: "0x0123456789aBcDe0123456789AbCdE0123456789"

      tags:
        - Token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenOnChainInfo'
        '404':
          description: Token not found
        "422":
          description: Unexpected error - usually bad query input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"


  '/top-momentum':
    x-pyramid-route-name: web_top_momentum
    get:
      operationId: web_top_momentum
      summary: Get pairs with fastest moving price
      description: |

        Return top up and down 100 price changes for 24h.

        The results are split for all trading pairs and trading pairs with $1M min liquidity.

      parameters:
        - name: summary
          in: query
          description: | 
          
            If set, return only the top 5 entries to reduce the download size.

          required: false
          schema:
            type: boolean
            default: false

      tags:
        - Trading signal
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopMomentum'
        "422":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorModel"

  '/impressive-numbers':
    x-pyramid-route-name: web_impressive_numbers
    get:
      operationId: web_impressive_numbers
      summary: |

        An API endpoint that spits out impressive numbers.

      tags:
        - Data collection
      responses:
        "200":
          description: JSON dict of impressive numbers



# An object to hold reusable parts that can be used across the definition
components:
  schemas:
    ExchangeSummaryListing:
      type: object
      properties:
        exchanges:
          type: array
          items:
            $ref: "#/components/schemas/ExchangeSummary"
    ExchangeSummary:
      type: object
      properties:
        notable:
          description: Should be shown by default
          type: boolean
          example: true
        exchange_id:
          description: Primary key for exchange
          type: integer
          example: 1
        chain_id:
          description: Ethereum chain id for the blockchain this exchange runs on, from https://chainlist.org/
          type: integer
          example: 1
        exchange_slug:
          description: URL slug for the exchange
          type: string
          example: uniswap_v2
        chain_slug:
          description: URL slug for the blockchain on which this exchange runs
          type: string
          example: ethereum
        chain_name:
          description: Human readable name for the blockchain where the exchange is running
          type: string
          example: Ethereum
        human_readable_name:
          description: Human readable name for this exchange. If there is no known name, then it is generated based on the address.
          type: string
          minLength: 4
          example: Uniswap (v2)
        address:
          description: Ethereum address, non-checksummed, for the exchange factory
          type: string
          minLength: 4
          example: 0x0
        exchange_type:
          description: Exchange type enum - see https://tradingstrategy.ai/docs/programming/api/exchange.html#tradingstrategy.exchange.ExchangeType
          type: string
          minLength: 4
          example: uni_v2
        usd_volume_30d:
          description: USD volume for the last 30 days
          type: number
          example: 100000.00
        pair_count:
          description: |
            How many trading pairs this exchange has
          type: integer
          example: 555
    ExchangeDetails:
      type: object
      properties:
        exchange_id:
          description: Machine readable string id for this exchange.
          type: string
          minLength: 4
          example: uniswap_v2
        human_readable_name:
          description: Human readable name for this exchange
          type: string
          minLength: 4
          example: Uniswap
        homepage:
          description: Link to the exchange trade page
          type: string
          format: uri
          example: https://uniswap.org
        twitter:
          description: Link to the exchange Twitter
          type: string
          format: uri
          example: https://twitter.com/uniswap
        blockchain_explorer_link:
          description: Link to a smart contract explorer showing the factory contract
          type: string
          format: uri
          example: https://etherscan.io/address/0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f
        address:
          description: The factory address for Uniswap AMM like setups
          example: 0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f
        buy_volume_30d:
          description: Buy USD volume for the last 30 days
          type: number
          example: 100000.00
        sell_volume_30d:
          description: Sell USD volume for the last 30 days
          type: number
          example: 100000.00
        buy_volume_all_time:
          description: Buy USD volume for all time
          type: number
          example: 100000.00
        sell_volume_all_time:
          description: Sell USD volume for all time
          type: number
          example: 100000.00
        buy_count_all_time:
          description: Number of individual buy transactions
          type: integer
          example: 1
        sell_count_all_time:
          description: Number of individual sell transactions
          type: integer
          example: 1
        pair_count:
          description: Trading pair count (optional)
          type: integer
          example: 500
        active_pair_count:
          description: |

              Active trading pair count (optional)

              [See trading pair inclusion criteria](https://tradingstrategy.ai/docs/programming/tracking.html).
          type: integer
          example: 1
        first_trade_at:
          description: |
            When the first trade was made on this exchange (optional)
          type: string
          format: iso8601

    PairSummary:
      description: |
          Summary of the trading pair.

          Used to return pair data in listings.

      properties:
        pair_id:
          description: Primary key for the traidng pair
          type: integer
          example: 1
        pair_name:
          description: |

            Human-readable name for this trading pair.

          type: string
          example: Ether-US Dollar Coin
        pair_symbol:
          description: |

            Human-readable name for this trading pair.

            Usually base token - quote token, uppercase.

            WETH is displayed as ETH.

          type: string
          example: ETH-USDC
        pair_slug:
          description: |

            URL slug for this trading pair.

            Usually base token - quote token, lower case.

            WETH is displayed as ETH.

          type: string
          example: eth-usdc
        exchange_id:
          description: Exchange primary key where this token trades
          type: integer
          example: 1
        exchange_slug:
          description: URL slug for the exchange
          type: string
          example: uniswap_v2
        exchange_name:
          description: |
            Human readable name of the exchange
          type: string
          example: Uniswap v2
        chain_name:
          description: |
            Human-readable name of the blockchain
          type: string
          example: Ethereum
        chain_slug:
          description: URL slug for the blockchain on which this exchange runs
          type: string
          example: ethereum
        chain_id:
          description: Ethereum chain id for the blockchain this exchange runs on, from https://chainlist.org/
          type: integer
          example: 1
        base_token_symbol:
          description: Token that is being bought
          type: string
          example: WETH
        quote_token_symbol:
          description: Token that is used as a currency
          type: string
          example: USDC
        base_token_symbol_friendly:
          description: |
            Token that is being bought.

            Human friendly symbol. E.g. WETH->ETH.

          type: string
          example: ETH
        quote_token_symbol_friendly:
          description: |
            Token that is used as a currency

            Human friendly symbol. E.g. WETH->ETH.
          type: string
          example: USDC
        base_token_address:
          description: Smart contract address of the base token
          type: string
          format: Ethereum address
          example: 0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f
        quote_token_address:
          description: Smart contract address of the quote token
          type: string
          format: Ethereum address
          example: 0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f
        base_token_slug:
          type: string
          description: >
            URL slug for the base token in the pair.
          example: ETH
        quote_token_slug:
          type: string
          description: >
            URL slug for the quote token in the pair.
          example: USDC
        pool_address:
          description: Pool contract address
          type: string
          minLength: 4
          example: 0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f
          format: Ethereum address
        exchange_rate:
          description: |
              US dollar / quote token exchange rate used to calculate the latest price.

              If the pair is quoted in a US dollar stablecoin this number is 1.0.

              If the pair is quoted in ETH then this is the current ETH price.

              In some situations, the exchange rate might be missing, in which case this is `null`.
              (TODO: In the future the exchange rate will be always present.)

          type: number
          example: 1.000

        usd_price_latest:
          description: |
              Base token/quote token converted to USD through direct quote token/USD exchange rate.

              The close of the 15 minute candle.
          type: number
          example: 250.12
        price_change_24h:
          description: |
              The % how much price has changed for the last 24h.

          type: number
          example: 0.05
        usd_volume_24h:
          description: USD trading volume for the last day
          type: number
          example: 100000.00
        usd_liquidity_latest:
          description: The current available XY liquidity
          type: number
          example: 100000.00
        liquidity_change_24h:
          description: |
              The % how much liquidity has changed for the last 24h.

          type: number
          example: 0.05
        usd_liquidity_change_24h:
          description: |
              The US dollar value how much liquidity has changed for the last 24h.

          type: number
          example: 120000
        liquidity_type:
          description: What of liquidity measurement is used
          type: string
          example: xyliquidity
          enum: [xyliquidity]

    PaginatedPairSummary:
      description: >
          Iterate through a list of PairSummary responses

      properties:
        total:
          description: Total results entries
          type: integer
          example: 100
        pages:
          description: Total result pages
          type: integer
          example: 10
        results:
          description: One page of pair summaries
          type: array
          items:
            $ref: '#/components/schemas/PairSummary'

    GenericErrorModel:
      description: |
          Returned in 422 Unprocessable Entity errors.

          Usually means some of the query input parameters are invalid.

      properties:
        error_id:
          description: Machine readable identifier for the error
          type: string
          example: LookupInputException
        message:
          description: Human readable message for the errir
          type: string

    Candle:
      description: |

        One OHLCV candle for the candle charts

        [Read more about what trading candles are](https://tradingstrategy.ai/docs/glossary.html#term-Candle).

      type: object
      properties:
        ts:
          description: >

            UNIX UTC timestamp as ISO 8601 formatted string.

          type: number
          format: timestamp
        o:
          description: >
            Open value of the candle
          type: number
          format: us_dollar
        h:
          description: >
            High value of the candle
          type: number
          format: us_dollar
        l:
          description: >
            Low value of the candle
          type: number
          format: us_dollar
        c:
          description: >
            Close value of the candle
          type: number
          format: us_dollar
        v:
          description: >
            Trade volume in US dollar
          type: number
          format: us_dollar
        b:
          description: |
            Number of buy transactions
          type: integer
        s:
          description: |
            Number of sell transactions
          type: integer
        bv:
          description: |
            Volume of buy transactions
          type: number
          format: us_dollar
        sv:
          description: |
            Volume of sell transactions
          type: number
          format: us_dollar
        xr:
          description: |

            `xr` stands for the exchange rate.

            Appromaxime exchange rate between US dollar and quote token for this candle.

            The actual exchange rate may be true only for 1 minute candles.
            The 1 minute candles use reference price oracle for quote token/USD.
            Other candle data is upsampled from the 1 minute candles and do not internally use any exchange rate.

            Any USD stablecoin is assumed to be 1:1 to actual USD.

          type: number
        tc:
          description: |

            `tc` stands for the trade count.

            Number of individual trades executed during the candle time period.

          type: number
    CandleList:
      description: |

        Multiple candles to render.

        Note that this data is sparse. If there were no trades, the timestamp for the candle time bucket
        period does not exist in the array.

        Candles will be sorted from the first to the last.

      type: array
      items:
        $ref: '#/components/schemas/Candle'

    TimeSpanTradeData:
      description: |

        Trade data for a selected timespan. Usually this is the summary data of the latest daily, hourly or weekly data.

        For the pairs that do not have active trading, the data is based on the time of the last trade.
        (This behavior is to be changed in the future.)

      type: object
      properties:
        price_open:
          description: >
            Open value of the candle
          type: number
          format: us_dollar
        price_high:
          description: >
            High value of the candle
          type: number
          format: us_dollar
        price_low:
          description: >
            Low value of the candle
          type: number
          format: us_dollar
        price_close:
          description: >
            Close value of the candle
          type: number
          format: us_dollar
        volume:
          description: >
            Trade volume in US dollar
          type: number
          format: us_dollar
        liquidity_high:
          description: >
            Max liquidity during the period
          type: number
          format: us_dollar
        liquidity_low:
          description: >
            Min liquidity during the period
          type: number
          format: us_dollar
        buys:
          description: >
            Number of individual buys
          type: integer
        sells:
          description: >
            Number of individual sells
          type: integer
        liquidity_events:
          description: >
            Number of individual liquidity events - how many times liquidity was added or removed from the pool
          type: integer


    XYLiquiditySample:
      description: |

        One XY liquidity candle for the liquidity charts. It represents a liquidity bar during the sample period:
        how much liquidity there was at the opening of the period, highest liquidity seen and how much liquidity
        there was at the closing period.

        This data can be used to calculate the price impact and gauge the popularity of a trading pair.

        Any dollar amount presents one side of the liquidty. For example adding 100 BNB + 5000 USD to the liquidity
        is presented as 5000 USD.

        [Read more about XYLiquidity here](https://tradingstrategy.ai/docs/programming/api/liquidity.html).

      type: object
      properties:
        ts:
          description: |

            UNIX UTC timestamp as ISO 8601 formatted string.

          type: number
          format: timestamp
        o:
          description: |
            Open value of the candle
          type: number
          format: us_dollar
        h:
          description: |
            High value of the candle
          type: number
          format: us_dollar
        l:
          description: |
            Low value of the candle
          type: number
          format: us_dollar
        c:
          description: |
            Close value of the candle
          type: number
          format: us_dollar
        a:
          description: |
            Number of liquidity add events in this period.

            Maybe zero if no data available.
          type: integer
        r:
          description: |
            Number of liquidity remove events in this period.

            Maybe zero if no data available.

          type: integer
        av:
          description: |
            Amount of liquidity added during this period

            Maybe zero if no data available.
          type: number
          format: us_dollar
        rv:
          description: |
            Amount of liquidity removed during this period

            Maybe zero if no data available.
          type: number
          format: us_dollar
        xr:
          description: |

            `xr` stands for the exchange rate.

            Appromaxime exchange rate between US dollar and quote token for this candle.

            The actual exchange rate may be true only for 1 minute candles.
            The 1 minute candles use reference price oracle for quote token/USD.
            Other candle data is upsampled from the 1 minute candles and do not internally use any exchange rate.

            Any USD stablecoin is assumed to be 1:1 to actual USD.

          type: number
        tc:
          description: |

            `ct` stands for the trade count.

            Number of individual trades executed during the candle time period.

          type: number
    XYLiquiditySampleList:
      description: |

        Multiple liquidity samples to render.

        Note that this data is sparse. If there were no trading events, there is no sample
        for the time period in the array.

        Samples are sorted from the first to the last.

      type: array
      items:
        $ref: '#/components/schemas/XYLiquiditySample'


    PairAdditionalDetails:
      description: >

        Additional details on a trading pair.

      type: object
      properties:
        chain_name:
          description: |
            Human readable name for the blockchain
          type: string
          example: Ethereum
        chain_logo:
          description: |
            Direct link to the logo of the exchange.

            Either SVG or high resh PNG.

            Should be transparent.

            Assuming white/light background version.

          type: string
          example: https://upload.wikimedia.org/wikipedia/commons/0/05/Ethereum_logo_2014.svg
        exchange_name:
          description: |
            Human readable name for the exchange
          type: string
          example: Uniswap (v2)
        exchange_link:
          description: |
            Direct link ot the exchange where this pair is
          type: string
          example: https://uniswap.org
        exchange_logo:
          description: |
            Direct link to the logo of the exchange.

            Either SVG or high resh PNG.

            Should be transparent.

            Assuming white/light background version.

          type: string
          example: https://upload.wikimedia.org/wikipedia/commons/5/5a/Uniswap_Logo_and_Wordmark.svg
        first_trade_at:
          description: |
            When the first trade was made
          type: string
          format: iso8601
        last_trade_at:
          description: |
            When the last seen trade was made
          type: string
          format: iso8601
        base_token_homepage:
          description: |
            Homepage of the base token
          type: string
          format: url
        quote_token_homepage:
          description: >
            Homepage of the quote token
          type: string
          format: url
        pair_contract_address:
          description: |
            The smart contract address of this trading pair.
          type: string
          format: blockchain_address
        trade_link:
          description: |
            Direct link to a page where this pair can be traded.

            (optional)
          type: string
          format: url
        buy_link:
          description: |
            Direct link to a page where you scan swap quote token -> base token

            (optional)
          type: string
          format: url
        sell_link:
          description: |
            Direct link to a page where you scan swap base token -> quote token

            (optional)
          type: string
          format: url
        pair_explorer_link:
          description: |
            Direct link to EIP-3091 compatible block explorer where you can view the smart contract
            of this trading pair.

            https://eips.ethereum.org/EIPS/eip-3091

            (optional)
          type: string
          format: url
        base_token_explorer_link:
          description: |
            Direct link to EIP-3091 compatible block explorer where you can view the smart contract
            of the base token.

            https://eips.ethereum.org/EIPS/eip-3091

            (optional)
          type: string
          format: url
        quote_token_explorer_link:
          description: |
            Direct link to EIP-3091 compatible block explorer where you can view the smart contract
            of the base token.

            https://eips.ethereum.org/EIPS/eip-3091

            (optional)
          type: string
          format: url
        buy_tax:
          description: |
            Measured buy tax for this token.
            
            The tax percent as 0...1 (100%) floating point.

            Values > 1 are error codes meaning the token tax measurement has failed
            and token is most likely out of liquidity, broken or a honeypot.
            
            Missing data or null values indicate the has not been measured yet.

          type: number
          format: float
        transfer_tax:
          description: |
            Measured transfer tax for this token.
            
            The tax percent as 0...1 (100%) floating point.

            Values > 1 are error codes meaning the token tax measurement has failed
            and token is most likely out of liquidity, broken or a honeypot.
            
            Missing data or null values indicate the has not been measured yet.

          type: number
          format: float
        sell_tax:
          description: |
            Measured selll tax for this token.
            
            The tax percent as 0...1 (100%) floating point.

            Values > 1 are error codes meaning the token tax measurement has failed
            and token is most likely out of liquidity, broken or a honeypot.
            
            Missing data or null values indicate the has not been measured yet.

          type: number
          format: float

    PairFullInfo:
      description: |

        All information on the trading pair to render a full page on it.

      type: object
      properties:
        summary:
          type: object
          $ref: '#/components/schemas/PairSummary'
        additional_details:
          type: object
          $ref: '#/components/schemas/PairAdditionalDetails'
        daily:
          type: object
          $ref: '#/components/schemas/TimeSpanTradeData'

    TokenOnChainInfo:
      description: >
        Basic info about a token from on-chain data.
      type: object
      properties:
        name:
          type: string
          example: "PancakeSwap Token"
        symbol:
          type: string
          example: "CAKE"
        token_id:
          description: The token's primary key.
          type: integer
          example: 715
        chain_name:
          description: |
            Human-readable name of the blockchain the token lives on.
          type: string
          example: Binance
        chain_slug:
          description: URL slug of the blockchain on which the token lives.
          type: string
          example: bsc
        address:
          type: string
          format: blockchain_address
          description: >
            The address of the smart contract that governs the token.
          example: "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
        total_supply:
          type: string
          format: decimal
          minimum: 0
          example: "123000.456"
        decimals:
          type: integer
          minimum: 0
          nullable: true
          description: >
             The number of decimals the token uses - e.g. 8 means to divide the token
             amount by 100_000_000 to get its user representation.
          example: 18
        chainscan_metadata:
            type: object
            nullable: false
            description: >
                Raw token metadata as fetched from external chainscan API.
                Can be an empty JSON object if no metadata has been imported yet.
            example:
                {
                  "contractAddress": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                  "tokenName": "PancakeSwap Token",
                  "symbol": "Cake",
                  "divisor": "18",
                  "website": "https://pancakeswap.finance/",
                  "email": "PancakeSwap@gmail.com",
                  "facebook": "",
                  "twitter": "https://twitter.com/pancakeswap"
                }
        chainscan_metadata_last_updated:
            type: string
            format: date-time
            nullable: true
            description: >
              The UTC time the token metadata was last updated from a chainscan API.
              Formatted as ISO 8601 string.
            example:
                "2022-07-25T10:03:12.605978"
        liquidity_latest:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          description: >
             The latest available token suply in USD.
        liquidity_change_7d:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          description: >
             The relative liquidity change (%) in the last seven days.
             If historical data does not span back long enough to compute it,
             no value is returned.
        liquidity_change_30d:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          description: >
             The relative liquidity change (%) in the last thirty days.
             If historical data does not span back long enough to compute it,
             no value is returned.
        liquidity_change_360d:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          description: >
             The relative liquidity change (%) in the last 360 days.
             If historical data does not span back long enough to compute it,
             no value is returned.
        liquidity_all_time_high:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          description: >
             The highest 15-minute liquidity in USD of all times.
        liquidity_all_time_low:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          description: >
             The lowest 15-minute liquidity in USD of all times.
        volume_24h:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          description: >
             The total token trade volume in USD in the last 24 hours.

    PaginatedTokenOnChainInfo:
      description: >
          Iterate through a list of TokenOnChainInfo responses.

      properties:
        total:
          description: Total results entries
          type: integer
          example: 100
        pages:
          description: Total result pages
          type: integer
          example: 10
        results:
          description: One page of tokens info
          type: array
          items:
            $ref: '#/components/schemas/TokenOnChainInfo'

    TopMomentum:
      description: >

        Return different categories of pairs exhibiting top price momentum action.

      type: object
      properties:
        top_up_24h:
          type: array
          items:
            $ref: "#/components/schemas/PairSummary"
          uniqueItems: true
        top_down_24h:
          type: array
          items:
            $ref: "#/components/schemas/PairSummary"
          uniqueItems: true
        top_up_24h_min_1m_liq:
          type: array
          items:
            $ref: "#/components/schemas/PairSummary"
          uniqueItems: true
        top_down_24h_min_1m_liq:
          type: array
          items:
            $ref: "#/components/schemas/PairSummary"
          uniqueItems: true
        top_liquidity_added_24h_min_liq_1m:
          type: array
          items:
            $ref: "#/components/schemas/PairSummary"
          uniqueItems: true

    ChainDetails:
      description: |

        Details and indexing status of a blockchain.

      type: object
      properties:
        chain_id:
          description: |
            Chain id
          type: integer
          example: 1
        chain_slug:
          description: |
            URL formattable name of the chain
          type: string
          example: ethereum
        chain_name:
          description: |
            Human readable name for the blockchain
          type: string
          example: Ethereum
        homepage:
          description: |
            Link to the chain homepage
          type: string
          example: https://ethereum.org
        chain_logo:
          description: |
            Direct link to the logo of the exchange.

            Either SVG or high resh PNG.

            Should be transparent.

            Assuming white/light background version.

          type: string
          example: https://upload.wikimedia.org/wikipedia/commons/0/05/Ethereum_logo_2014.svg
        start_block:
          description: |
            First block indexed
          type: integer
          example: 9900000
        end_block:
          description: |
            Last block indexed
          type: integer
          example: 12900000
        block_count:
          description: |
            Indexed block count.

            This should be end_block - start_block unless some blocks have been skipped for some reason.

          type: integer
          example: 1000000
        exchanges:
          description: |
            Number of indexed exchanges
          type: integer
          example: 10
        pairs:
          description: |
            Identified trading pair count across all exchanges on this blockchain
          type: integer
          example: 1000
        tracked_pairs:
          description: |

            How many trading pairs are being actively tracked.
            The pair activity exceeds the threshold to make it appear on the website
            and have OHLCV data generated for it.

            For example, trading pairs with very low swap count are not active.

          type: integer
          example: 50
        tokens:
          description: |
            Number of tokens that appear in trading pairs.

            - Tokens lacking a supported trading pair on a supported exchange are not included in this number
            - Tokens that have a trading pair but no trades or volume are still counted

          type: integer
          example: 500
        first_swap_at:
          description: |
            First observed swap timestamp
          type: string
          format: iso8601
          example: 2020-05-01T12:00
        last_swap_at:
          description: |
            Last observed swap timestamp
          type: string
          format: iso8601
          example: 2021-10-01T12:00
        minute_candles:
          description: |
            Number of 1 min candles for all trading pairs on this chain
          type: integer
          example: 1000000

    ChainSummary:
      description: |

        Blockchain summary for listing.

      type: object
      properties:
        chain_id:
          description: |
            Chain id
          type: integer
          example: 1
        chain_slug:
          description: |
            URL formattable name of the chain
          type: string
          example: ethereum
        chain_name:
          description: |
            Human readable name for the blockchain
          type: string
          example: Ethereum
        chain_logo:
          description: |
            Direct link to the logo of the exchange.

            Either SVG or high resh PNG.

            Should be transparent.

            Assuming white/light background version.

          type: string
          example: https://upload.wikimedia.org/wikipedia/commons/0/05/Ethereum_logo_2014.svg
        exchanges:
          description: |
            Number of indexed exchanges
          type: integer
          example: 10
